.menu-container {
  position: absolute;
  z-index: 100;
  width: 273px;
  height: 593px;
  left: 50%;
  transform: translate(-50%, 593px);
  opacity: 0.9;
  border-radius: 25px;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

.menu-container.menuActive {
  opacity: 0.9;
  transform: translate(-50%, 250px);
}
.menu-container.round {
  background-color: black;
}

.closeMenuBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  opacity: 0.5;
  transition: 0.5s;
}

.menu-container:active .closeMenuBtn {
  opacity: 0.9;
  transition: 0.2s;
}

.closeMenuBtn:hover {
  opacity: 0.6;
}

.menu-listBox {
  position: absolute;
  width: 200px;
  height: 200px;

  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu-list {
  list-style: none;
  transition: 0.5s;
  cursor: pointer;
}

.menu-list button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  cursor: pointer;
}

.menu-list:hover button {
  transition: 0.5s;
  color: rgba(255, 255, 255, 1);
}
