.hidemusic-container {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 1px solid red;
  z-index: 1;
  display: none;
}
.test {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: none;
}
.test div {
  position: absolute;

  opacity: 1;
}
