.record-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
}
.record-lp-wrapper {
  position: absolute;
  left: 0;
  top: 17%;
  width: 100%;
  height: 37%;

  -webkit-box-reflect: below 0
    linear-gradient(transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 50%);
}
.record-lp-imgBox {
  position: absolute;
  width: 70%;
  height: 100%;
  border: 1px solid;
  overflow: hidden;
  left: -25%;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.record-lp-imgBox img {
  position: absolute;
  width: 100%;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(90%);
}
.record-lp-cdBox {
  position: absolute;
  width: 215px;
  height: 215px;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  /* animation: cdAnimate 7s infinite linear for; */
}

@keyframes cdAnimate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes cdChangeAnimate {
  0% {
    left: 0%;
  }
  100% {
    left: 45%;
  }
}

.record-lp-cdBox img {
  width: 101%;
}

.record-lp-innerImgBox {
  position: absolute;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.record-lp-innerImgBox img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(90%);
}
.record-lp-innerImgBox::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(238, 238, 238);
  border-radius: 50%;
}

.record-titleWidth {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 40px;
  border: 1px solid white;
  pointer-events: none;
  opacity: 0;
}

.record-titleWidth span {
  position: absolute;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  border: 1px solid white;
}

.record-titleBox {
  position: absolute;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  color: black;
  bottom: 135px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 700;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.record-titleBox.active {
  opacity: 0;
}

.record-titleBox .record-titleBox-title {
  position: absolute;
  width: auto;
  list-style: none;

  white-space: nowrap;
}
.record-titleBox .record-titleBox-title.over {
  animation: textAnimate 5s linear infinite;
}

.record-titleBox .record-titleBox-title.over span {
  padding-right: 20px;
}

@keyframes textAnimate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}
.record-singerBox {
  position: absolute;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: black;
  bottom: 107px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 100%;
  height: 20px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
  transition: 0.5s;
}
.record-singerBox.active {
  opacity: 0;
}

.record-singerBox div {
  position: absolute;
  width: 100%;
  margin-right: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-menuSelectBtn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 15px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  opacity: 0.8;
  transition: 0.5s;
  z-index: 999;
}
.record-menuSelectBtn:hover {
  opacity: 1;
}
.record-menuSelectBtn-icon {
  background-color: black;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.record-menuSelectBtn-icon::before {
  background-color: black;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.record-menuSelectBtn-icon::after {
  background-color: black;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.round-themeSelectBtn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border: none;
  cursor: pointer;
  display: none;
}
.round-themeSelectBtn.theme {
  display: block;
}
