.round-container {
  position: relative;
  width: 273px;
  height: 590px;
  background-color: rgb(239, 239, 239);
  border-radius: 40px;
  overflow: hidden;
}

.themeSelectBtn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  opacity: 0.5;
  transition: 0.5s;
}
.themeSelectBtn:hover {
  opacity: 1;
}
.themeSelectBtn-icon {
  background-color: black;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.themeSelectBtn-icon::before {
  background-color: black;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.themeSelectBtn-icon::after {
  background-color: black;
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
