.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #053537 50%, #f84553);
  border-radius: 40px;
  overflow: hidden;
}

.circle-container.one {
  background: linear-gradient(#8eb8ee, #274265);
}
.circle-container.two {
  background: linear-gradient(to right, #f84553, #7864cf);
}
.circle-container.three {
  background: linear-gradient(#004251, #d688aa);
}
.circle-container.four {
  background: linear-gradient(#193263, #c10044);
}
.circle-container.five {
  background: linear-gradient(to right, #053537 30%, #d20a12);
}

.circle-container::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(rgba(255, 255, 255, 0.05) 10%, transparent);
}
.circle-listImg {
  position: absolute;
  width: 200px;
  height: 200px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.circle-listImg img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
